language: android
jdk: oraclejdk8
sudo: false
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - tools
    - platform-tools

    # The BuildTools version used by your project
    - build-tools-28.0.3

    # The SDK version used to compile your project
    - android-27
    - android-24

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-27
    - addon-google_apis-google-24

    - extra-android-support

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-android-27
    - sys-img-armeabi-v7a-android-24
    - sys-img-armeabi-v7a-addon-google_apis-google-27
    - sys-img-armeabi-v7a-addon-google_apis-google-24
    - sys-img-armeabi-v7a-google_apis-27
    - sys-img-armeabi-v7a-google_apis-24

  licenses:
    - android-sdk-preview-license-.+
    - android-sdk-license-.+
    - google-gdk-license-.+

before_script: 
  - cd GNSS_Compare
  - yes | sdkmanager "platforms;android-27"
  - yes | sdkmanager "platforms;android-24"
  - echo no | android create avd --force -n test -t android-24 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &
